
body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif; 
    background-color: #f5f5dc; 
    color: #4d4d4d; 
    line-height: 1.6;
}

header {
    text-align: center;
    background-color: #e8e4d9; 
    padding: 20px;
}

header h1 {
    font-size: 3em;
    margin: 0;
    font-weight: bold;
}

header .headline {
    font-size: 1.5em;
    margin-top: 10px;
    font-style: italic;
    color: #8a7f7f;
}

.profile-picture {
    text-align: center;
    margin-top: 20px;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.about-me {
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

.about-me ul {
    list-style-type: none;
    padding: 0;
}

.about-me li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.about-me a {
    text-decoration: none;
    color: #0066cc;
    display: flex;
    align-items: center;
}

.about-me a img {
    margin-right: 10px;
}

.about-me a:hover {
    color: #003366;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e8e4d9;
    position: relative;
    bottom: 0;
    width: 100%;
}

.linkedin-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.2em;
    color: #0056b3; 
    padding: 10px 15px;
    border: 2px solid #0056b3;
    border-radius: 5px;
    transition: 0.3s ease;
}

.linkedin-link:hover {
    background-color: #0056b3;
    color: white;
    border-color: white;
}

.linkedin-logo {
    width: 20px; 
    height: auto; 
    margin-right: 10px; 
    vertical-align: middle; 
}
