.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Zoom au survol */
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.5em;
    color: #3a6b35;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #4d4d4d;
    margin-bottom: 20px;
}

.card .btn {
    text-decoration: none;
    background-color: #3a6b35;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: #295024;
}
